*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: rgb(232, 232, 232);
    width: 300px;
    height: 13px;
    border-radius: 20px;
  }
  .greenline {
    height: 13px;
    width: 0%;  
    border-radius: 20px;
    background-color: green;
  }
  